/*Reset*/
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0px;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*Vars*/
/*colors*/
/*transition*/
/*border*/
/*Base*/
body {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: #FFF8F0;
  color: #060707;
}

a {
  color: #060707;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 83px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1px;
  background-color: #C8B6E8;
  border-radius: 70%;
  border: 1px solid #060707;
}

.btn {
  display: inline-block;
  height: 43px;
  letter-spacing: 1px;
  padding: 12px 48px;
  border: 1px solid #060707;
  background: #D9E8B6;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #EF9854;
}

.title-hiden {
  visibility: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0px 15px;
  width: 1262px;
}

/*Blocks*/
/*MARQUEE*/
.runningLine {
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.runningLine__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 20px;
  min-height: 59px;
  background-color: #FFF;
}

.items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  counter-reset: item;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
}

.marquee {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
}

.item--after::after {
  content: url("./../img/runningLine/runningLine-item.svg");
  width: 16px;
  height: 16px;
  margin-left: 50px;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
/*MARQUEE-END*/
/*HEADER*/
.header {
  margin-bottom: 40.5px;
  color: #060707;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #060707;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 153.75px;
  min-height: 51px;
  border: 1px solid #060707;
}

.main-nav__item a {
  letter-spacing: 1px;
}

.main-nav__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__social-media li:not(:last-child) {
  margin-right: 27.88px;
}

.main-nav__social-media img {
  width: 22px;
  height: 22px;
}

.main-nav__item a:hover, .main-nav__item--action:hover {
  background-color: #EF9854;
}

/*HEADER-END*/
/*CONTENT*/
/*hero*/
.hero {
  margin-bottom: 44px;
}

.swiper {
  width: 100%;
  height: 429px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #060707;
  background: #ED98DC;
  border-radius: 0px;
}

/*hero-end*/
/*runningLine-primus*/
.runningLine-primus {
  margin-bottom: 16pxpx;
}

.runningLine-primus__items {
  min-height: 93px;
  background-color: #EF9854;
}

.runningLine-primus__items .items {
  font-size: 24px;
  letter-spacing: 1px;
}

.item-primus--after::after {
  content: url("./../img/runningLine-primus/+.svg");
  width: 24px;
  height: 24px;
  margin-left: 200px;
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
/*runningLine-primus-end*/
/*payday-deals*/
.payday-deals__title {
  margin-bottom: 40px;
}

.payday-deals__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.payday-deals__item {
  padding: 16px 16px;
  border: 1px solid #060707;
}

.payday-deals__img {
  width: 246px;
  height: 324px;
  margin-bottom: 20px;
}

.payday-deals__item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.payday-deals__item-color li {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #060707;
  background: #FFF;
}

.payday-deals__item-color li:not(:last-child) {
  margin-right: 9px;
}

.payday-deals__item h3 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__item p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16.5px;
}

.payday-deals__grade li:not(:last-child) {
  margin-right: 4px;
}

.payday-deals__grade img {
  width: 15px;
  height: 14px;
}

.payday-deals__grade p {
  font-size: 12px;
  letter-spacing: 1px;
}

.payday-deals__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.payday-deals__price li:not(:last-child) {
  margin-right: 8px;
}

.payday-deals__price--not-relevant {
  color: #B1B5B7;
}

.payday-deals__item-color--denim-skirt li:nth-child(1) {
  background: #BAE1EB;
}

.payday-deals__item-color--denim-skirt li:nth-child(2) {
  background: #FFF;
}

.payday-deals__item-color--daisy-dress li:nth-child(1) {
  background: #C8B6E8;
}

.payday-deals__item-color--woll-cardigan li:nth-child(1) {
  background: #C8B6E8;
}

.payday-deals__item-color--woll-cardigan li:nth-child(2) {
  background: #060707;
}

.payday-deals__item-color--woll-cardigan li:nth-child(3) {
  background: #EF9854;
}

.payday-deals__item-color--over-jacket li:nth-child(1) {
  background: #060707;
}

.payday-deals__link {
  text-align: center;
  margin-bottom: 20px;
}

/*payday-deals-end*/
/*top-collections*/
.top-collections {
  position: relative;
  min-height: 705px;
  margin-bottom: 62px;
}

.top-collections__title {
  margin-top: 72px;
  margin-bottom: 40px;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab__content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.tab__content__item img {
  width: 100px;
  height: 130px;
}

.tab__content__item:not(:last-child) {
  margin-right: 10px;
}

.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

.accordion {
  margin-top: 53.5px;
  color: #060707;
}

.tab__label,
.tab__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 596px;
  color: #060707;
  font-size: 32px;
  padding: 40px 0px 40px 20px;
  cursor: pointer;
  border-top: 1px solid #060707;
  border-bottom: 1px solid #060707;
}

.tab__label::after {
  content: url("./../img/top-collections/arrow.svg");
  width: 28px;
  height: 28px;
  margin-right: 20px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
}

@-webkit-keyframes bounce {
  25% {
    -webkit-transform: rotate(90deg) translate(0.25rem);
            transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    -webkit-transform: rotate(90deg) translate(-0.25rem);
            transform: rotate(90deg) translate(-0.25rem);
  }
}

@keyframes bounce {
  25% {
    -webkit-transform: rotate(90deg) translate(0.25rem);
            transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    -webkit-transform: rotate(90deg) translate(-0.25rem);
            transform: rotate(90deg) translate(-0.25rem);
  }
}
.top-collections__img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 468.34px;
  height: 582px;
}

/*top-collections-end*/
/*best-seller*/
.best-seller {
  margin-bottom: 20px;
}

.best-seller__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 719px;
}

.payday-deals__item-color--pants li:nth-child(1) {
  background: #060707;
}

.payday-deals__item-color--pants li:nth-child(2) {
  background: #656565;
}

.payday-deals__item-color--work-jacket li:nth-child(1) {
  background: #FFF;
}

.payday-deals__item-color--work-jacket li:nth-child(2) {
  background: #060707;
}

.best-seller__link {
  text-align: center;
}

/*best-seller-end*/
/*newsletter*/
.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 1232px;
  min-height: 436px;
  background-image: url("./../img/newsletter/newsletter-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 62px;
}

.newsletter__title {
  font-size: 36px;
  margin-bottom: 28px;
}

.newsletter__text {
  max-width: 496px;
  line-height: 25px;
  margin-bottom: 40px;
}

.newsletter__input-email {
  width: 566px;
  height: 45px;
  border: 1px solid #060707;
  background: #FFF;
  padding: 10px 16px;
  margin-right: 40px;
}

/*newsletter-end*/
/*lifestyle*/
.lifestyle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.lifestyle__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 794px;
}

.lifestyle__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lifestyle__block {
  border: 1px solid #060707;
}

.lifestyle__block-content {
  padding: 16px;
}
.lifestyle__block-content img {
  width: 564px;
  height: 324px;
}
.lifestyle__block-content h3 {
  max-width: 540px;
  height: 58px;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.lifestyle__block-content p {
  max-width: 540px;
  line-height: 25px;
  margin-bottom: 20px;
}

.lifestyle__link {
  text-align: center;
}

/*lifestyle-end*/
/*CONTENT-END*/
/*FOOTER*/
.footer {
  margin-top: 120px;
  margin-bottom: 60px;
}

.footer__container {
  max-width: 1020px;
  margin: 0 auto;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  padding-top: 8px;
  padding-left: 8px;
}

.footer__list-item h3 {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.footer__list-item a {
  line-height: 25px;
  opacity: 0.4;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-bottom: 8px;
}

.footer__list-item a:hover,
.footer__list-item a:active,
.footer__list-item a:focus {
  opacity: 1;
}

.footer__form-content {
  padding-top: 8px;
  padding-left: 8px;
}
.footer__form-content h3 {
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.footer__form-row {
  padding-right: 8px;
}

.footer__input-email {
  width: 368px;
  min-height: 43px;
  padding: 10px 16px;
  border: 1px solid #060707;
  margin-bottom: 12px;
}

.footer__input-btn {
  display: inline-block;
}

.footer__botom {
  margin-top: 60px;
}

.footer__botom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__botom-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__botom-social-media li:not(:last-child) {
  margin-right: 28px;
}

.footer__botom-social-media img {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.footer__botom-social-media img:hover,
.footer__botom-social-media img:focus,
.footer__botom-social-media img:active {
  -webkit-transform: scale(2);
          transform: scale(2);
}

/*FOOTER-END*//*# sourceMappingURL=main.css.map */