@charset "UTF-8";
/*Reset*/
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0px;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*Vars*/
/*colors*/
/*transition*/
/*border*/
/*Base*/
body {
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  background-color: #FFF8F0;
  color: #060707;
}

a {
  color: #060707;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 290px;
  height: 83px;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1px;
  background-color: #C8B6E8;
  border-radius: 70%;
  border: 1px solid #060707;
}

.btn {
  letter-spacing: 1px;
  padding: 12px 48px;
  border: 1px solid #060707;
  background: #D9E8B6;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 1262px;
}

/*Blocks*/
/*MARQUEE*/
.runningLine {
  max-width: 100%;
  margin: auto;
  margin-bottom: 20px;
}

.runningLine__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 20px;
  min-height: 59px;
  background-color: #FFF;
}

.items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  counter-reset: item;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 100%;
}

.marquee {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1px;
}

.item--after::after {
  content: url("./../img/runningLine/runningLine-item.svg");
  width: 16px;
  height: 16px;
  margin-left: 50px;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
/*MARQUEE-END*/
/*HEADER*/
.header {
  margin-bottom: 40.5px;
  color: #060707;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #060707;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 153.75px;
  min-height: 51px;
  border: 1px solid #060707;
}

.main-nav__item a {
  letter-spacing: 1px;
}

.main-nav__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__social-media li:not(:last-child) {
  margin-right: 27.88px;
}

.main-nav__social-media img {
  width: 22px;
  height: 22px;
}

.main-nav__item a:hover, .main-nav__item--action:hover {
  background-color: #EF9854;
}

/*HEADER-END*/
/*CONTENT*/
/*hero*/
.hero {
  margin-bottom: 44px;
}

.swiper {
  width: 100%;
  height: 429px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #060707;
  background: #ED98DC;
  border-radius: 0px;
}

/*hero-end*/
/*runningLine-primus*/
.runningLine-primus {
  margin-bottom: 16pxpx;
}

.runningLine-primus__items {
  min-height: 93px;
  background-color: #EF9854;
}

.runningLine-primus__items .items {
  font-size: 24px;
  letter-spacing: 1px;
}

.item-primus--after::after {
  content: url("./../img/runningLine-primus/+.svg");
  width: 24px;
  height: 24px;
  margin-left: 200px;
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
            transform: translateX(calc(-100% - 20px));
  }
}
/*runningLine-primus-end*/
/*payday-deals*/
.payday-deals {
  margin-bottom: 20px;
}

.payday-deals__title {
  margin-bottom: 40px;
}

.payday-deals__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.payday-deals__item {
  padding: 16px 16px;
  border: 1px solid #060707;
}

.payday-deals__img {
  width: 246px;
  height: 324px;
  margin-bottom: 20px;
}

.payday-deals__item-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.payday-deals__item-color li {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid #060707;
  background: #FFF;
}

.payday-deals__item-color li:not(:last-child) {
  margin-right: 9px;
}

.payday-deals__item h3 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__item p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__grade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16.5px;
}

.payday-deals__grade li:not(:last-child) {
  margin-right: 4px;
}

.payday-deals__grade img {
  width: 15px;
  height: 14px;
}

.payday-deals__grade p {
  font-size: 12px;
  letter-spacing: 1px;
}

.payday-deals__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.payday-deals__price li:not(:last-child) {
  margin-right: 8px;
}

.payday-deals__price--not-relevant {
  color: #B1B5B7;
}

.payday-deals__item-color--denim-skirt li:nth-child(1) {
  background: #BAE1EB;
}

.payday-deals__item-color--denim-skirt li:nth-child(2) {
  background: #FFF;
}

.payday-deals__item-color--daisy-dress li:nth-child(1) {
  background: #C8B6E8;
}

.payday-deals__item-color--woll-cardigan li:nth-child(1) {
  background: #C8B6E8;
}

.payday-deals__item-color--woll-cardigan li:nth-child(2) {
  background: #060707;
}

.payday-deals__item-color--woll-cardigan li:nth-child(3) {
  background: #EF9854;
}

.payday-deals__item-color--over-jacket li:nth-child(1) {
  background: #060707;
}

.payday-deals__link {
  text-align: center;
}

:root {
  --primary: #227093;
  --secondary: #ff5252;
  --background: #eee;
  --highlight: #ffda79;
  /* Theme color */
  --theme: var(--primary);
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  color: var(--theme);
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab__label,
.tab__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}

.tab__label {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.tab__label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.tab__content p {
  margin: 0;
  padding: 1rem;
}

.tab__close {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.accordion--radio {
  --theme: var(--secondary);
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
}

@-webkit-keyframes bounce {
  25% {
    -webkit-transform: rotate(90deg) translate(0.25rem);
            transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    -webkit-transform: rotate(90deg) translate(-0.25rem);
            transform: rotate(90deg) translate(-0.25rem);
  }
}

@keyframes bounce {
  25% {
    -webkit-transform: rotate(90deg) translate(0.25rem);
            transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    -webkit-transform: rotate(90deg) translate(-0.25rem);
            transform: rotate(90deg) translate(-0.25rem);
  }
}
/*payday-deals-end*/
/*CONTENT-END*/
/*FOOTER*/
/*FOOTER-END*//*# sourceMappingURL=main.css.map */