.footer {
    max-width: 1020px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 60px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    border: $border;
}

.footer__list {
    padding-top: 8px;
    padding-left: 8px;
}

.footer__list-item h3 {
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.footer__list-item a {
    line-height: 25px; 
    opacity: 0.4;
    transition: $transition;
    margin-bottom: 8px;
}
.footer__list-item a:hover,
.footer__list-item a:active,
.footer__list-item a:focus {
    opacity: 1;
}

.footer__form-content {
    padding-top: 8px;
    padding-left: 8px;

    h3 {
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
}

.footer__form-row {
    padding-right: 8px;
}

.footer__input-email {
    width: 368px;
    min-height: 43px;
    padding: 10px 16px;

    border: $border;
    margin-bottom: 12px;
}

.footer__input-btn {
    display: inline-block;
}