.header {
    margin-bottom: 40.5px;
    color: $main-color;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid #060707;
}
.main-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 153.75px;
    min-height: 51px;

    border: 1px solid #060707;
}

.main-nav__item a {
    letter-spacing: 1px;
     
}

.main-nav__social-media {
    display: flex;
}

.main-nav__social-media li:not(:last-child) {
    margin-right: 27.88px;
}

.main-nav__social-media img {
    width: 22px;
    height: 22px;
}

.main-nav__item a:hover, .main-nav__item--action:hover {
    background-color: $hero-link-hover;
}