.payday-deals__title {
  margin-bottom: 40px;
}

.payday-deals__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.payday-deals__item {
  padding: 16px 16px;
  border: $border;
}

.payday-deals__img {
  width: 246px;
  height: 324px;
  margin-bottom: 20px;
}

.payday-deals__item-color {
  display: flex;
  margin-bottom: 12px;
}

.payday-deals__item-color li {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: $border;
  background: #FFF;
}

.payday-deals__item-color li:not(:last-child) {
  margin-right: 9px;
}

.payday-deals__item h3 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__item p {
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 4px;
}

.payday-deals__grade {
  display: flex;
  margin-bottom: 16.5px;
}

.payday-deals__grade li:not(:last-child) {
  margin-right: 4px;
}

.payday-deals__grade img {
  width: 15px;
  height: 14px;
}

.payday-deals__grade p {
  font-size: 12px;
  letter-spacing: 1px;
}

.payday-deals__price {
  display: flex;

  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.payday-deals__price li:not(:last-child) {
  margin-right: 8px;
}

.payday-deals__price--not-relevant {
  color: #B1B5B7;
}

.payday-deals__item-color--denim-skirt li:nth-child(1){
  background: #BAE1EB;
}
.payday-deals__item-color--denim-skirt li:nth-child(2){
  background: #FFF;
}

.payday-deals__item-color--daisy-dress li:nth-child(1) {
  background: #C8B6E8;
}

.payday-deals__item-color--woll-cardigan li:nth-child(1) {
  background: #C8B6E8;
}
.payday-deals__item-color--woll-cardigan li:nth-child(2) {
  background: #060707;
}
.payday-deals__item-color--woll-cardigan li:nth-child(3) {
  background: #EF9854;
}

.payday-deals__item-color--over-jacket li:nth-child(1) {
  background: #060707;
}

.payday-deals__link {
  text-align: center;
  margin-bottom: 20px;
}